@page "/"
@namespace Creating_a_Custom_Button_on_the_Viewer_Toolbar.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Creating a Custom Button on the Viewer Toolbar</title>
    <base href="~/" />

    <script>
        var createButton = function () {
            var customButton = this.WebViewer1.SmallButton("customButton", "Custom Button", "emptyImage");
            customButton.image.src = "icon.png";
            customButton.action = function () {
                alert("Custom Button Event");
            }
            var toolbarTable = this.WebViewer1.controls.toolbar.firstChild.firstChild;
            var buttonsTable = toolbarTable.rows[0].firstChild.firstChild;
            var customButtonCell = buttonsTable.rows[0].insertCell(0);
            customButtonCell.appendChild(customButton);
        }
    </script>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
